
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}
#weather{
  height: 600px;
  width: 500px;
  background: #3a1c71; 
  background: -webkit-linear-gradient(
    to right,
    #ffaf7b,
    #d76d77,
    #3a1c71
  ); 
  background: linear-gradient(
    to right,
    #ffaf7b,
    #d76d77,
    #3a1c71
  ); 
  border-radius: 20px;
  padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  
}
#search{
    
    
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
    
    
}
#search>input{
    border: none;
    outline: none;
    flex: 1;
    padding-left: 10px;
    font-size: 16px;
    
   
}
#search>#img{
background: none;
border: none;
cursor: pointer;
border-radius: 30px;


}

#img img{
    height: 15px;
    width: 15px;
    margin: 9px 10px 9px 10px;
    
}

#main>img{
    width: 220px;
    height: 210px;
    margin-bottom: 10px;
}
#main h1{
    font-size: 50px;
    margin: 10px 0;
    color: #fff;
}
#main h2{
    font-size: 60px;
    margin: 5px 0;
    color: #fff;
}
#city + div {
  
    color: #fff;
  }
  
  #main>div{
    /* background-color: #fff; */
    height: 100px;
    width: 460px;
    margin-top: 15px;
    display: flex;
  }

  .col1{
    height: 100px;
    width: 230px;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
  }
  .col1 img{
    height: 60px;
    width: 60px;
  }
  .col1 h5{
    font-size: 30px;
  }
  .col1 p{
    font-size: 15px;
  }
  .col2{
    height: 100px;
    width: 230px;
    /* background-color: black; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
    
  }
  .col2 img{
    height: 60px;
    width: 60px;
  }
  .col2 h5{
    font-size: 20px;
  }
  .col2 p{
    font-size: 15px;
  }